.main {
    display: flex;
    justify-content: space-evenly;
  }
  
.main-content {
    width: 60%;
    max-width: 680px;
    min-width: 0;
    margin: 0 24px;
    width: 100%;
}
  
.sidebar {
    width: 25%;
    position: -webkit-sticky;
    position: sticky;
    top: 56px;
    height: 25vh;
}

@media screen and (max-width: 991.5px) {
    .sidebar {
        top: 51px
    }
}