hr {
    border-top: 1px solid rgba(0,0,0,0) !important;
}

.main {
    display: flex;
    justify-content: space-evenly;
    padding: 5% 0%;
  }
  
.main-content {
    width: 60%;
    max-width: 680px;
    min-width: 0;
    margin: 0 24px;
    width: 100%;
}

.main-article-category {
    --r-globalnav-height: 44px;
    --r-globalmessage-segment-height: 0px;
    --r-globalnav-segmentbar-height: 0px;
    -webkit-text-size-adjust: 100%;
    quotes: "“" "”";
    --r-globalnav-background-opened: #fbfbfd;
    --r-globalnav-background-opened-dark: #161617;
    --sal: env(safe-area-inset-left);
    --sar: env(safe-area-inset-right);
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #1d1d1f;
    font-style: normal;
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
    direction: ltr;
    text-align: left;
    --corner-radius: 10px;
    margin-top: 0;
    margin-bottom: 20px;
}
.main-article-category::before {
    content: ' ';
    display: table;
}
.main-article-category::after {
    content: ' ';
    display: table;
    clear: both;
}
.main-article-category-eyebrow {
    --r-globalnav-height: 44px;
    --r-globalmessage-segment-height: 0px;
    --r-globalnav-segmentbar-height: 0px;
    -webkit-text-size-adjust: 100%;
    quotes: "“" "”";
    --r-globalnav-background-opened: #fbfbfd;
    --r-globalnav-background-opened-dark: #161617;
    --sal: env(safe-area-inset-left);
    --sar: env(safe-area-inset-right);
    color: #1d1d1f;
    font-style: normal;
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
    direction: ltr;
    text-align: left;
    --corner-radius: 10px;
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 700;
    letter-spacing: -.01em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.main-article-category-eyebrow__category {
    --r-globalnav-height: 44px;
    --r-globalmessage-segment-height: 0px;
    --r-globalnav-segmentbar-height: 0px;
    -webkit-text-size-adjust: 100%;
    quotes: "“" "”";
    --r-globalnav-background-opened: #fbfbfd;
    --r-globalnav-background-opened-dark: #161617;
    --sal: env(safe-area-inset-left);
    --sar: env(safe-area-inset-right);
    font-style: normal;
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
    direction: ltr;
    text-align: left;
    --corner-radius: 10px;
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 700;
    letter-spacing: -.01em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    display: block;
    text-transform: uppercase;
    color: #6e6e73;
    border-color: #6e6e73;
}
.main-article-category-eyebrow__date {
    --r-globalnav-height: 44px;
    --r-globalmessage-segment-height: 0px;
    --r-globalnav-segmentbar-height: 0px;
    -webkit-text-size-adjust: 100%;
    quotes: "“" "”";
    --r-globalnav-background-opened: #fbfbfd;
    --r-globalnav-background-opened-dark: #161617;
    --sal: env(safe-area-inset-left);
    --sar: env(safe-area-inset-right);
    font-style: normal;
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
    direction: ltr;
    text-align: left;
    --corner-radius: 10px;
    display: block;
    font-size: 14px;
    line-height: 1.28577;
    font-weight: 600;
    letter-spacing: -.016em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #6e6e73;
    margin-top: 4px;
}

.main-article-pagetitle {
    --r-globalnav-height: 44px;
    --r-globalmessage-segment-height: 0px;
    --r-globalnav-segmentbar-height: 0px;
    -webkit-text-size-adjust: 100%;
    quotes: "“" "”";
    --r-globalnav-background-opened: #fbfbfd;
    --r-globalnav-background-opened-dark: #161617;
    --sal: env(safe-area-inset-left);
    --sar: env(safe-area-inset-right);
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #1d1d1f;
    font-style: normal;
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
    direction: ltr;
    text-align: left;
    --corner-radius: 10px;
    margin-top: 0;
    margin-bottom: 0;
}
.main-article-pagetitle::before {
    content: ' ';
    display: table;
}
.main-article-pagetitle::after {
    content: ' ';
    display: table;
    clear: both;
}
.main-article-hero-headline {
    --r-globalnav-height: 44px;
    --r-globalmessage-segment-height: 0px;
    --r-globalnav-segmentbar-height: 0px;
    -webkit-text-size-adjust: 100%;
    quotes: "“" "”";
    --r-globalnav-background-opened: #fbfbfd;
    --r-globalnav-background-opened-dark: #161617;
    --sal: env(safe-area-inset-left);
    --sar: env(safe-area-inset-right);
    font-style: normal;
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
    direction: ltr;
    text-align: left;
    --corner-radius: 10px;
    margin: 0;
    padding: 0;
    color: #1d1d1f;
    font-size: 32px;
    line-height: 1.08349;
    font-weight: 700;
    letter-spacing: -.003em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.main-article-image {
    margin-top: 44px;
    --r-globalnav-height: 44px;
    --r-globalmessage-segment-height: 0px;
    --r-globalnav-segmentbar-height: 0px;
    -webkit-text-size-adjust: 100%;
    quotes: "“" "”";
    --r-globalnav-background-opened: #fbfbfd;
    --r-globalnav-background-opened-dark: #161617;
    --sal: env(safe-area-inset-left);
    --sar: env(safe-area-inset-right);
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #1d1d1f;
    font-style: normal;
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
    direction: ltr;
    text-align: left;
    --corner-radius: 10px;
    --nr-animation-transform-x: 0;
    --nr-animation-transform-scale: 1;
    --nr-animation-duration: 800ms;
    --nr-animation-transform-y: 20%;
    border-radius: 10px;
    overflow: hidden;
    z-index: 0;
    position: relative;
    display: block;
}
.modal-gallery-trigger {
    --r-globalnav-height: 44px;
    --r-globalmessage-segment-height: 0px;
    --r-globalnav-segmentbar-height: 0px;
    -webkit-text-size-adjust: 100%;
    quotes: "“" "”";
    --r-globalnav-background-opened: #fbfbfd;
    --r-globalnav-background-opened-dark: #161617;
    --sal: env(safe-area-inset-left);
    --sar: env(safe-area-inset-right);
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-style: normal;
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
    direction: ltr;
    text-align: left;
    --corner-radius: 10px;
    --nr-animation-transform-x: 0;
    --nr-animation-transform-scale: 1;
    --nr-animation-duration: 800ms;
    --nr-animation-transform-y: 20%;
    color: #06c;
    letter-spacing: inherit;
    border: 0;
    background: transparent;
    cursor: pointer;
    position: relative;
    display: block;
    width: 100%;
}
.main-article-picture {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.main-article-picture-image {
    display: inline-block;
    width: 100%;
    height: auto;
}

.main-text-container {
    --r-globalnav-height: 44px;
    --r-globalmessage-segment-height: 0px;
    --r-globalnav-segmentbar-height: 0px;
    -webkit-text-size-adjust: 100%;
    quotes: "“" "”";
    --r-globalnav-background-opened: #fbfbfd;
    --r-globalnav-background-opened-dark: #161617;
    --sal: env(safe-area-inset-left);
    --sar: env(safe-area-inset-right);
    color: #1d1d1f;
    font-style: normal;
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
    direction: ltr;
    text-align: left;
    --corner-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 44px;
    margin-bottom: 44px;
    font-size: 19px;
    line-height: 1.4211;
    font-weight: 400;
    letter-spacing: .012em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.main-text-container::before {
    content: ' ';
    display: table;
}
.main-text-container::after {
    content: ' ';
    display: table;
    clear: both;
}
  
.sidebar {
    width: 25%;
    position: -webkit-sticky;
    position: sticky;
    top: 56px;
    height: 25vh;
    z-index: -1;
}

.sidebar-heading {
    margin-bottom: 24px;
    margin-top: 40px;
}

.sidebar-heading-h2 {
    font-weight: 900;
    letter-spacing: 0;
    font-size: 20px;
    color: rgba(41, 41, 41, 1);
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 20px;
}

.sidebar-article-1 {
    height: 100%;
    width: 100%;
}

.sidebar-article-2 {
    margin-bottom: 24px;
    flex-direction: column;
    justify-content: center;
    display: flex;
}

.sidebar-article-3 {
    justify-content: space-between;
    flex-direction: row;
    display: flex;
}

.sidebar-article-text {
    flex: 1 0 0%;
    margin-right: 24px;
    flex-direction: column;
    display: flex;
}

.sidebar-article-subline {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.sidebar-article-subline-category-icon {
    margin-right: 8px;
}

.sidebar-article-category-icon-a {
    color: inherit;
    fill: inherit;
    font-size: inherit;
    border: inherit;
    font-family: inherit;
    letter-spacing: inherit;
    font-weight: inherit;
    padding: 0;
    margin: 0;
}

.sidebar-article-category-icon-a-div {
    position: relative;
}

.sidebar-article-subline-more {
    padding-right: 4px;
}

.sidebar-article-subline-more-p {
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    text-overflow: ellipsis;
    max-height: 20px;
    overflow: hidden;
    font-size: 13px;
    color: rgba(117, 117, 117, 1);
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 20px;
    font-weight: 400;
    margin: 0;
}

.sidebar-article-subline-from {
    padding-right: 4px;
}

.sidebar-article-subline-from-p {
    font-size: 13px;
    color: rgba(117, 117, 117, 1);
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 20px;
    font-weight: 400;
    margin: 0;
}

.sidebar-article-subline-category-name-a-p {
    -webkit-text-size-adjust: 100%;
    --reach-tabs: 1;
    --reach-menu-button: 1;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    fill: inherit;
    letter-spacing: inherit;
    box-sizing: inherit;
    margin: 0;
    font-weight: 400;
    line-height: 20px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgba(41, 41, 41, 1);
    font-size: 13px;
    overflow: hidden;
    max-height: 20px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
}

.sidebar-article-headline {
    -webkit-line-clamp: 3;
    max-height: 60px;
    font-weight: 700;
    letter-spacing: 0;
    font-size: 16px;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    color: rgba(41, 41, 41, 1);
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 20px;
}


#button {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #button:hover {
    cursor: pointer;
    background-color: #333;
  }
  #button:active {
    background-color: #555;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }

@media screen and (max-width: 991.5px) {
    .sidebar {
        top: 51px
    }
}

@media (min-width: 500px) {
    #button {
        margin: 30px;
    }
}